
# Python ======================================================================

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Project Misc ================================================================

# Ignore prototype output files
prototypes/output

# Ignore local environment files
.env.local

# Local infrastructure ========================================================

# Ignore data volumes
docker/**/data

# Ignore mongo init scripts
docker/mongo/scripts/init.js

# Ignore redis config
docker/redis/redis.conf